/* Stylizacja podstawowa */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    text-align: center;
    color: #333;
}

input[type="text"], input[type="datetime-local"] {
    padding: 8px;
    margin: 10px 0;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 8px 12px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #4cae4c;
}

#task-list {
    list-style-type: none;
    padding: 0;
}

#task-list li {
    background-color: white;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#task-list span {
    flex: 1;
    padding-right: 10px;
}

#task-list button {
    background-color: #d9534f;
}

#task-list button:hover {
    background-color: #c9302c;
}

#search {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;
}
