body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f9fafb;
    margin: 0;
}

.container {
    display: flex;
    gap: 50px; /* Większy odstęp między sekcjami */
    margin-top: 20px;
}

#map {
    height: 400px;
    width: 400px;
    border: 2px solid #4a5568;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

canvas, #puzzleContainer, #shuffledPuzzle {
    border: 1px solid #d2d6dc;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

#puzzleContainer, #shuffledPuzzle {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 8px;
    width: 400px;
    height: 400px;
}

.puzzle-cell {
    width: 100px;
    height: 100px;
    border: 2px solid #d1d5db;
    background-color: #f9fafb;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.puzzle-piece {
    width: 100px;
    height: 100px;
    cursor: grab;
    border-radius: 6px;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

    .puzzle-piece:active {
        cursor: grabbing;
        transform: scale(1.05);
    }

    .puzzle-piece.locked {
        
        opacity: 0.8;
    }
